# 이 파일을 복사해서 "keystore.properties" 로 저장하고 값을 채우세요.
# 실제 keystore.properties 와 .jks 파일은 git에 올라가지 않습니다(.gitignore 처리됨).
storeFile=C:/IntelliJIDE-workspace/!!!앱출시하기/store_원본파일(지우면안돼_키있음)/ryumusic/ryumusic-release.jks
storePassword=키스토어_비밀번호
keyAlias=ryumusic
keyPassword=키_비밀번호
